<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Care-Attack</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Serves as a module to manage and dispatch requests across the web application</description>
    <display-name>Dispatcher</display-name>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>servlets.Dispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/Dispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnouncementServlet</display-name>
    <servlet-name>AnnouncementServlet</servlet-name>
    <servlet-class>servlets.AnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncementServlet</servlet-name>
    <url-pattern>/AnnouncementServlet</url-pattern>
    <url-pattern>/Announcements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet to handle log out requests</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImage</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>servlets.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>servlets.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>RentalServlet</display-name>
    <servlet-name>RentalServlet</servlet-name>
    <servlet-class>servlets.RentalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RentalServlet</servlet-name>
    <url-pattern>/RentalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>CreatePostServlet</display-name>
    <servlet-name>CreatePostServlet</servlet-name>
    <servlet-class>servlets.CreatePostServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CreateBlogPostServlet</display-name>
    <servlet-name>CreateBlogPostServlet</servlet-name>
    <servlet-class>servlet.CreateBlogPostServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>searchEngineServlet</display-name>
    <servlet-name>searchEngineServlet</servlet-name>
    <servlet-class>servlet.searchEngineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePostServlet</servlet-name>
    <url-pattern>/CreatePostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateBlogPostServlet</servlet-name>
    <url-pattern>/CreateBlogPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchEngineServlet</servlet-name>
    <url-pattern>/searchEngineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignGuestbookServlet</display-name>
    <servlet-name>SignGuestbookServlet</servlet-name>
    <servlet-class>guestbook.SignGuestbookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignGuestbookServlet</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet to process requests to populate the calendar</description>
    <display-name>TaskPlannerServlet</display-name>
    <servlet-name>TaskPlannerServlet</servlet-name>
    <servlet-class>servlets.TaskPlannerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskPlannerServlet</servlet-name>
    <url-pattern>/TaskPlannerServlet</url-pattern>
    <url-pattern>/taskplanner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IllnessServlet</display-name>
    <servlet-name>IllnessServlet</servlet-name>
    <servlet-class>servlets.IllnessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IllnessServlet</servlet-name>
    <url-pattern>/IllnessServlet</url-pattern>
  </servlet-mapping>
</web-app>