.content{
	padding-top: 3px;
	padding-bottom: 8px;
	padding-left: 1%;
	padding-right: 10px;
	height: 600px;
	width: 1285px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: inherit;
	-moz-box-shadow: -5px 9px 18px #999;
	-webkit-box-shadow: -5px 9px 18px #999;
	box-shadow: -5px 9px 18px #999;
	position: relative;
	background: #FFF;
	margin-left: 2px;
}

#createProducts{
	margin-top: 20px;
	margin-left: 450px;
}

#productName{
	width: 300px;
	height: 20px;
	margin-left: 10px;
	border: 2px solid #D8D8D8;
}

#price{
	width: 300px;
	height: 20px;
	margin-left: 10px;
	border: 2px solid #D8D8D8;
}

table{
	margin-left: 60px;
	margin-top: 10px;
}

#img{
	margin-left: 890px;
	margin-top: -15px;
}

#button{
	
}

#clearall{
	
}
#status{
	width: 300px;
	height: 20px;
	margin-left: 10px;
	border: 2px solid #D8D8D8;
}

#quantity{
	width: 300px;
	height: 20px;
	margin-left: 10px;
	border: 2px solid #D8D8D8;
}

#table1{
	border: 4px solid black;
	height: 480px;
	width: 550px;
	margin-left: -80px;
	margin-top: -60px;
}

#productDescription{
	width: 296px;
	height: 70px;
	margin-left: 10px;
	border: 2px solid #D8D8D8;
}

#text{
	font-family: Paprika, serif;
}

.button {
	border-top: 1px solid #02090d;
	background: #8fa3b0;
	background: -webkit-gradient(linear, left top, left bottom, from(#bca5d1),
		to(#8fa3b0) );
	background: -webkit-linear-gradient(top, #bca5d1, #8fa3b0);
	background: -moz-linear-gradient(top, #bca5d1, #8fa3b0);
	background: -ms-linear-gradient(top, #bca5d1, #8fa3b0);
	background: -o-linear-gradient(top, #bca5d1, #8fa3b0);
	padding: 2.0px 25px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: black;
	font-size: 12px;
	font-family: Shadows Into Light Two, serif;
	text-decoration: none;
	vertical-align: middle;
}

.button:hover {
	border-top-color: #828282;
	background: #828282;
	color: #ccc;
}

.button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}