
body {
	background-color: white;
}

h1 {
	text-shadow: green;
}

#boxer{
	display: none;
}

.button {
	font: 14px Georgia, Verdana;
	margin-bottom: 10px;
	margin-top: -30px;
	padding: 8px 10px 9px;
	border: 5px solid #F7819F;
	background: #F8E0EC;
	cursor: pointer;
	width: 312px;
}

.button:hover {
	border: 5px solid black;
	background: #F8E0EC;
}


#kitty {
	width: 335px;
	height: 304px;
	margin-left: 93px;
}

#letters {
	margin-top: -25px;
	width: 323px;
	height: 743px;
	border: 10px solid black;
	margin-left: 60px;
}

#contain{
	height: 240px;
	width: 332px;
	border: 5px solid pink;
	margin-top: -35px;
}

#heart{
	margin-left: 305px;
	margin-top: -35px;
}

#lettersOfGratitude{
	font-family: Shadows Into Light Two, serif;
}

#nametext{
	width: 310px;
	height: auto;
	border: 2px solid black;
	margin-left: -25px;
}

#name{
	height: 20px;
	padding-left: 10px;
	padding-top: 5px;
	
}

#text{
	margin-left: 10px;
}

#message {
	width: 250px;
	height: 100px;
}

#form1 {
	margin-top: 0px;
	width: 350px;
	height: 140px;
}

#form1 textarea {
	margin-top: 0px;
	margin-left: 0px;
	width: 340px;
	height: 105px;
	overflow-y: scroll;
}

#go {
	width: 100px;
	height: 25px;
	float: right;
}

#appear {
	margin-left: 0px;
	width: 325px;
	height: 746px;
	overflow: scroll;
}

