/* CSS Document */
@font-face {
	font-family: 'MountainsofChristmasRegular';
	src: url('/fonts/MountainsofChristmas-webfont.eot') src:     url('../fonts/MountainsofChristmas-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('/fonts/MountainsofChristmas-webfont.woff') format('woff'),
		url('/fonts/MountainsofChristmas-webfont.ttf') format('truetype'),
		url('/fonts/MountainsofChristmas-webfont.svg#MountainsofChristmasRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 20px;
	background-color: #000;
}

#login {
	float: right;
	margin-right: 3%;
	margin-top: 1%;
}
#loggedIn{
	float: right;
padding-right: 2%;
}

#bannerTitle {
	font-family: MountainsOfChristmasRegulars;
	font-size: large;
}

.search {
	float: right;
}

#careAttackIcon {
	float: left;
	height: 110px;
	width: 200px;
	z-index: 1;
	position: relative;
}

#globalHeader {
	height: 120px;
	width: auto;
	padding-top: 3px;
	padding-left: 3px;
	background: -webkit-gradient(radial, 24 105, 44, 298 -427, 698, from(#363632),
		to(#FFFFFF) );
	-moz-box-shadow: -5px 9px 18px #000000;
	-webkit-box-shadow: -5px 9px 18px #000000;
	box-shadow: -5px 9px 18px #000000;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#globalHeader h1 {
	margin-left: 15%;
	margin-top: 2%;
	position: absolute;
}

#globalHeader table {
	border-radius: 15px;
}

#copyrightInfo {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	position: relative;
}

.gummyBar {
	height: 120px;
	width: auto;
	padding-top: 3px;
	padding-left: 3px;
	position: relative;
	float: right;
}

.gummyBar ul {
	margin-top: 45px;
}

.gummyBar li {
	width: 100px;
	height: 50px;
	float: left;
	color: #191919;
	text-align: center;
	overflow: hidden;
	-moz-box-shadow: -5px 9px 18px #999;
	-webkit-box-shadow: -5px 9px 18px #999;
	border-radius: 15px;
	-webkit-border-radius: 15px;
}

.gummyBar a {
	color: #FFF;
	text-decoration: none;
}

.gummyBar p {
	padding: 0px 5px;
}

.gummyBar .subtext {
	padding-top: 15px;
	font-family: Shadows Into Light Two, serif;
	color:#fff;
}

/*Menu Color Classes*/
.green {
	background: #6AA63B;
}

.yellow {
	background: #FBC700;
}

.red {
	background: #D52100;
}

.purple {
	background: #5122B4;
}

.blue {
	background: #0292C0;
}