/* CSS Document */
@font-face {
	font-family: 'MountainsofChristmasRegular';
	src: url('/fonts/MountainsofChristmas-webfont.eot') src:     url('../fonts/MountainsofChristmas-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('/fonts/MountainsofChristmas-webfont.woff') format('woff'),
		url('/fonts/MountainsofChristmas-webfont.ttf') format('truetype'),
		url('/fonts/MountainsofChristmas-webfont.svg#MountainsofChristmasRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 20px;
	background-color: #CC9999;
}

#login {
	margin-top: 1%;
	margin-left: 43.5%;

}

#loggedout{
	width: 65px;
	margin-top: -25px;
	margin-left: 260px;
	
}

#loggedIn{
	padding-right: 2%;
	margin-left: 950px;
	width: 600px;
	margin-top: 1%;
	font-family: Shadows Into Light Two, serif;
	
}

#bannerTitle {
	font-family: Paprika, serif;
	margin-left: 16%;
	margin-top: 7%;
	position: absolute;
}

#careAttackIcon {
	float: left;
	height: 110px;
	width: 200px;
	z-index: 1;
	position: relative;
}

#globalHeader {
	height: 120px;
	width: auto;
	padding-top: 3px;
	padding-left: 3px;
	background: -webkit-gradient(radial, 24 105, 44, 298 -427, 698, from(#e6e6e6),
		to(#FFFFFF) );
	-moz-box-shadow: -5px 9px 18px #000000;
	-webkit-box-shadow: -5px 9px 18px #000000;
	box-shadow: -5px 9px 18px #000000;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#globalHeader table {
	border-radius: 15px;
}

#copyrightInfo {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	position: relative;
}

.gummyBar {
	height: 70px;
	width: auto;
	padding-left: 3px;
	position: relative;
	margin-left: 50%;
	margin-top: -35px;
}

.gummyBar ul {
	margin-top: 45px;
}

.gummyBar li {
	width: 120px;
	height: 50px;
	float: left;
	font-size: 15px;
	color: #191919;
	text-align: center;
	overflow: hidden;
	-moz-box-shadow: -5px 9px 18px #999;
	-webkit-box-shadow: -5px 9px 18px #999;
	border-radius: 15px;
	-webkit-border-radius: 15px;
}

.gummyBar a {
	color: black;
	text-decoration: none;
	font-family: Paprika, serif;
}

.gummyBar p {
	padding: 0px 5px;
}

#cp{
	font-family: Shadows Into Light Two, serif;
}

.gummyBar .subtext {
	padding-top: -1px;
	margin-top: -6px;
	font-family: Shadows Into Light Two, serif;
	color: black;
}

/*Menu Color Classes*/
.green {
	background: #A9F5D0;
}

.yellow {
	background: #D0F5A9;
}

.red {
	background: #F2F5A9;
}

.purple {
	background:  #E3CEF6;
}

.blue {
	background:#F6CEF5;
}