/* CSS Document */
.content {
	height: 100%;
	width: 50%;
	padding-top: 3px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 1%;
	background: white;
	-moz-box-shadow: -5px 9px 18px #999;
	-webkit-box-shadow: -5px 9px 18px #999;
	box-shadow: -5px 9px 18px #999;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: inherit;
	position: relative;
	float: left;
}

.sideContent {
	padding-top: 3px;
	padding-bottom: 8px;
	padding-left: 1%;
	padding-right: 10px;
	float: right;
	height: auto;
	width: 35%;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: inherit;
	-moz-box-shadow: -5px 9px 18px #999;
	-webkit-box-shadow: -5px 9px 18px #999;
	box-shadow: -5px 9px 18px #999;
	position: relative;
	background: #FFF;
}

h1{
	font-family: Paprika,serif;
}

.flex
{
		display:-moz-box; /* Firefox */
display:-webkit-box; /* Safari and Chrome */
display:box;
}
.annonContent
{
	-moz-box-flex:2.0; /* Firefox */
-webkit-box-flex:2.0; /* Safari and Chrome */
box-flex:2.0;
	
}
.annonImage
{
	-moz-box-flex:1.0; /* Firefox */
-webkit-box-flex:1.0; /* Safari and Chrome */
box-flex:1.0;
border-radius:10px;
padding:3px;
border:#fff;
}
