@CHARSET "ISO-8859-1";

#layout {
	margin-left: 20%;
	margin-right: 20%;
	width: 750px;
	height: auto;
	background-color: #E5E5E5;
}

#heed{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif,
		"Adobe Gothic Std B";
}


#blogcontent {
	width: 480px;
	float: left;
}

#searchcontent {
	width: 240px;
	float: right;
}

#datesetting {
	font-size: 13px;
	color: #000000;
}

#searchengine {
	width: 240px;
}

#sidebar {
	width: 240px;
	float: right;
}

#categories {
	background-color: #E5E5E5;
	font-size: 12px;
}

#toprated {
	background-color: #E5E5E5;
	font-size: 12px;
}

#archive {
	background-color: #E5E5E5;
	font-size: 12px;
}

#headingforsidebar {
	font-size: 16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif,
		"Adobe Gothic Std B";
	font-weight: bold;
}


<!-- Auntie sarah -->

#heading {
	width:300px;
	float:right;
	font-size: 17px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif,
		"Adobe Gothic Std B";
	font-weight: bold;
}

#label {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	color: #900;
	font-weight: bold;
}

#introduction {
	font-size: 14px;
	width: 350px;
	float: right;
}

#image {
	float: left;
	width: 400px;
}

#tipperday {
	font-size: 14px;
	clear: both;
	background-color: #DDD;
}

#questionsession {
	font-size: 14px;
	clear: both;
}

#postedby {
	font-size: 12px;
}

#heading {
	width: 800px;
	font-size: 22px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif,
		"Adobe Gothic Std B";
}

<!-- New File -->
#testdiv {
	width: 600px;
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 20px 25px;
	background: grey;
	margin-left: 350px;
}
#tinybox {
	position: absolute;
	display: none;
	padding: 10px;
	background: #fff url(images/preload.gif) no-repeat 50% 50%;
	border: 10px solid #e3e3e3;
	z-index: 2000
}
.button {
	font: 14px Georgia, Verdana;
	margin-bottom: 10px;
	padding: 8px 10px 9px;
	border: 1px solid #ccc;
	background: #eee;
	cursor: pointer
}

.button:hover {
	border: 1px solid #bbb;
	background: #e3e3e3
}


.modal {
    display:none;
    z-index:10000;
    background-color:#C0C0C0;
    width:400px;    
    min-height:200px;
    border:1px solid #666;
}

#layoutCreateBlogPost {
	width: 220px;
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 10px 10px;
	background: grey;
	margin-top:-10px;
	margin-left:-10px;
	}
}
